In [1]:
import pandas as pd
import pymongo
from dotenv import load_dotenv
load_dotenv()
import os

In [7]:
database="JAGA"
collection="LoanapprovalData"
MONGODB_URL =os.getenv("MONGO_DB_URL")

In [ ]:
mongo_client=pymongo.MongoClient(MONGODB_URL)
records=mongo_client[database][collection]

In [8]:
data=pd.DataFrame(list(records.find()))

In [9]:
data

,_id,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,6894b834245236fdba852eee,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,6894b834245236fdba852eef,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,6894b834245236fdba852ef0,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,6894b834245236fdba852ef1,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,6894b834245236fdba852ef2,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,6894b87d3fff32556d777d46,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
89996,6894b87d3fff32556d777d47,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
89997,6894b87d3fff32556d777d48,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
89998,6894b87d3fff32556d777d49,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
89999,6894b87d3fff32556d777d4a,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1